.ceoimage {
  animation: float 6s ease-in-out infinite;
  display: inline-block;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}