.carousel-container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-img {
  width: 120px;
  height: auto;
  object-fit: contain;
  pointer-events: none; /* Disable pointer events on images */
}
